/* ==========================================
   Archivum
   Reset CSS
========================================== */


/* ==========================================
   Box Sizing
========================================== */

*,
*::before,
*::after {

    box-sizing: border-box;

}


/* ==========================================
   HTML / Body
========================================== */

html,
body {

    margin: 0;

    padding: 0;

}


/* ==========================================
   Text
========================================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {

    margin: 0;

    padding: 0;

}


/* ==========================================
   Lists
========================================== */

ul,
ol {

    margin: 0;

    padding: 0;

    list-style: none;

}


/* ==========================================
   Links
========================================== */

a {

    color: inherit;

    text-decoration: none;

}


/* ==========================================
   Buttons
…